.btn {
  display: inline-block;

  color: $white-light;
  cursor: pointer;

  padding: 8px 24px;
  background: linear-gradient(224.78deg, #5490E3 8.12%, #1357B3 92.21%);

  border-radius: 4px;
  border: 0;

  @include typeface-2(p3, desktop);

  transition: .4s ease;

  &:hover {
    opacity: 0.7;
  }
}

.btn-cancel {
  display: inline-block;

  color: $white-light;
  cursor: pointer;

  padding: 8px 24px;
  background: linear-gradient(37.47deg, #FF3737 14.88%, #FB7A7A 94.99%);;

  border-radius: 4px;
  border: 0;

  @include typeface-2(p3, desktop);

  transition: .4s ease;

  &:hover {
    opacity: 0.7;
  }
}

a {
  text-decoration: none;

  @include typeface-2(p3, desktop);

  color: $white-light;

  transition: .3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.input {
  accent-color: $primary-normal;
  border: none;
}

input, select, option, textarea {
  width: 100%;
  padding: 10px 12px;
  background-color: $black-light;

  border: none;
  border-radius: 4px;
  color: $white-light;

  box-shadow: 0 0 0 0;
  outline: 0;

  @include typeface-2(p3, desktop);
}

table {
  font-family: 'Rubik', sans-serif;
  color: $white-light;

  border: 1px solid $primary-normal;
  border-radius: 5px;

  @include typeface-2(p3, desktop);
}

select, option {
  height: 48px;
}

.btn-search {
  width: 56px;
  height: 48px;
  cursor: pointer;

  transform: translate3d(-6px, 0, 0);

  background-image: url(../svg/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $black-light;

  border: none;
  border-radius: 4px;
}

.btn-search-1 {
  width: 50px;
  height: 43px;
  cursor: pointer;

  transform: translate3d(-12px, 0, 0);

  background-image: url(../svg/search_white.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background: linear-gradient(224.78deg, #5490E3 8.12%, #1357B3 92.21%);

  border: none;
  border-radius: 4px;
}

.btn-see-password {
  width: 100px;
  height: 46px;
  cursor: pointer;

  margin-top: 15px;
  

  transform: translate3d(-6px, 0, 0);

  background-image: url(../svg/see_icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $black-light;

  border: none;
  border-radius: 4px;
}

.btn-unsee-password {
  width: 100px;
  height: 46px;
  cursor: pointer;

  margin-top: 15px;
  

  transform: translate3d(-6px, 0, 0);

  background-image: url(../svg/unsee_icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $black-light;

  border: none;
  border-radius: 4px;
}

.myInput[type="checkbox"] {
  width: 23px;
  height: 23px;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}

input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}

input[type=file] {
  background-color: $black-light;
}